/* Minimal Dark v2.0.0
#
# https://github.com/ArturGuedes/MinimalDark
#
# Copyright 2017-2018, All rights reserved
#
# @author Artur Guedes <arturguedx@gmail.com>
#
*/


@cm: CodeMirror;
@scm: span.cm;

@c-base1: #FFFFFF;
@c-base2: #999999;
@c-base3: #666666;
@c-base4: #3c3f41; //bg
@c-base5: #313131;
@c-base6: #000000;

@c-primary1: #00FCF6;
@c-primary2: #00C8E9;
@c-primary3: #3492C7;
@c-primary4: #A2CDE5;
@c-primary5: #552E56;

@c-secundary1: #E4C388;
@c-secundary2: #c5c300;
@c-secundary3: #009584;
@c-secundary4: #22d398;
@c-secundary5: #e37000;

@keyframes efeito {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

// Painel
.@{cm}-scroll {
    background: @c-base4;
}

.pane-header {
    background: @c-base4  !important;
    color: #adb9bd !important;
    line-height: 2.2 !important;
    border: none !important;
    opacity: 1;
}

.active-pane {
    margin-right: -1px;
    margin-bottom: -1px;
    border: none !important;
}

// Scrollbar do painel
::-webkit-scrollbar {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 12px @c-base5 inset;
}

.@{cm}-vscrollbar,
.@{cm}-hscrollbar,
.@{cm}-gutter-filler,
.@{cm}-scrollbar-filler {
    background-color: @c-base4  !important;
}

// Divisores do painel
.horz-resizer {
    width: 1px !important;
}

.vert-resizer {
    height: 1px !important;
}

.horz-resizer,
.vert-resizer {
    opacity: .25 !important;
    background: @c-base3  !important;
}

// Editor
.@{cm}-cursor {
    border-left: 1px solid @c-base1  !important;
}

// Numeradores de linhas do editor
.@{cm}-gutters {
    background-color: @c-base4;
    border: none;
}

.@{cm}-linenumber {
    color: @c-base3;
}

// Seleção
.@{cm} .@{cm}-selected {
    background: @c-base5;
}

.@{cm}-focused {

    .@{cm}-activeline-background,
    .@{cm}-selected {
        opacity: .7;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.25), @c-base6, rgba(0, 0, 0, 0.25));
        background-size: 800%;
        animation: efeito 8s ease infinite;
    }

    .@{cm}-selected:nth-of-type(1) {
        border-top-right-radius: 4px;
    }

    .@{cm}-selected:nth-of-type(2) {
        border-bottom-left-radius: 4px;
    }

    .@{cm}-activeline .@{cm}-gutter-elt {
        background: @c-base5;
        color: @c-base1;
    }
}

// Outros
.image-view,
.not-editor {
    background: @c-base4;
}

.view-pane .image-view {
    color: @c-base2;
}

// Códigos

@{scm}-m-javascript,
@{scm}-m-css,
@{scm}-m-null,
@{scm}-m-xml {
    color: @c-base2;
}

@{scm}-bracket {
    color: @c-base2;
    opacity: .8;
}

@{scm}-keyword {
    color: @c-primary3;
    font-style: italic;
    font-weight: bold;
    opacity: .8;
}

@{scm}-variable {
    color: @c-secundary2;
    opacity: .8;
}

@{scm}-variable-2 {
    color: @c-secundary3;
}

@{scm}-variable-3 {
    color: @c-secundary4;
    opacity: .8;
}

@{scm}-comment {
    color: @c-base2;
    opacity: .8;
}

@{scm}-def {
    color: @c-secundary1;
    opacity: .8;
}

@{scm}-builtin {
    color: @c-base1;
    opacity: .8;
}

@{scm}-qualifier {
    color: @c-base1;
    opacity: .8;
}

@{scm}-tag {
    color: @c-primary3;
    opacity: .8;
}

@{scm}-property {
    color: @c-primary2;
    opacity: .8;
}

@{scm}-atom {
    color: @c-primary1;
    opacity: .8;
}

@{scm}-number {
    color: @c-primary1;
    opacity: .8;
}

@{scm}-attribute {
    color: @c-secundary4;
    opacity: .8;
}

@{scm}-string {
    color: @c-primary4;
    opacity: .8;
    letter-spacing: 0.5px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

@{scm}-string-2 {
    color: @c-secundary5;
}

@{scm}-header {
    color: @c-primary1;
}

@{scm}-link {
    color: @c-secundary3;
}

@{scm}-meta {
    color: @c-base2;
}

@{scm}-operator {
    color: @c-base1;
}

@{scm}-error {
    color: @c-secundary5;
    border-bottom: 1px dashed @c-secundary5;
}

@{scm}-quote {
    color: @c-secundary1;
}

@{scm}-hr {
    color: @c-primary3;
}
